<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Server=generic_testser\EN08R2;Database=PIVOT_QA;uid=ddsvn_sa;pwd=123456;Connect Timeout=20;"/>
  </connectionStrings>
  <appSettings>
    <add key="Client_Id_Default" value="22"/>
    <add key="ExportTempFolder" value="D:\VW\VisionWeb\FE\Front End Reskin\AS.VW.Scheduler.G2ML\bin\Debug\ExportedFiles\Daily_G2_Matches_Report_22_20170117142347.pdf"/>
    <add key="FILE_NAME_G2_MONEY_LAUNDERING" value="App_Data\\tpl_G2MoneyLaundering.en-US.html"/>
    <add key="SPAName_UpdateExtractReportLog" value="spa_rm_UpdateExtractReportLog"/>
    <add key="SPAName_GetDailyMatchingReportForEmail" value="spa_GetDailyMatchingReportForEmail"/>
  </appSettings>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="Log.txt"/>
      <param name="AppendToFile" value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value=""/>
        <param name="Footer" value=""/>
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n"/>
        <param name="Footer" value="[Footer]\r\n"/>
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
  </log4net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
