body,
.site-info,
.popup-top {
  background-color: #1e2a57;
}
b.caret,
.old-browser-warning .btn-close,
.merchant-sidenav .icon-chevron-right {
  color: #008ba6;
}
.main-navbar .navbar-nav > .open > a,
.main-navbar .navbar-nav > .open > a:hover,
.main-navbar .navbar-nav > .open > a:focus {
  background-color: transparent;
}
.main-navbar .nav li.dropdown .caret,
.main-navbar .nav li.dropdown .open > .dropdown-toggle .caret,
.main-navbar .nav li.dropdown .active > .dropdown-toggle .caret,
.main-navbar .nav li.dropdown > .dropdown-toggle .caret,
.main-navbar .nav li.dropdown .open.active > .dropdown-toggle .caret {
  border-top-color: #008ba6;
  border-bottom-color: #008ba6;
}
.white-bg-shadow {
  border-color: #008ba6;
}
.logo {
  background-image: url('img/logo.png');
  width: 300px;
  height: 80px;
}
/*.login-form .btn-login
{
    background: @primary-color;
    border-color: darken(@primary-color, 10%);
    color: @sec-text-color;
}*/
.site-footer,
.site-footer a {
  color: #ffffff;
}
.login-form .login-alert {
  color: #ff0000;
}
.login-top,
.old-browser-warning {
  border-color: #008ba6;
}
.btn-old-browser {
  background: #008ba6;
  color: #ffffff !important;
  background: linear-gradient(#15ffa1, #008ba6) !important;
  -pie-background: linear-gradient(#15ffa1, #008ba6) !important;
}
.navbar,
.main-navbar .navbar-nav > li > a {
  color: #999999;
}
.site-info {
  color: #ffffff;
}
.title-maintenance {
  color: #008ba6;
}
